@charset "utf-8";
/* CSS Document */

body {
    background: black url('../img/WHSTippBack_small.jpg') no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    color: #f4f0f1;
    font-family: "Calibri Light", sans-serif;
    margin: 0 0 10px 0;
    padding: 0;
}

form.registForm {
    display: table;
    margin: 0 auto;
    width: 600px;
    border-spacing: 5px;
}

form.loginForm {
    font-size: 14px;
    color: gainsboro;
    margin: 0 auto;
    text-align: center;
}
.formElements > div.formLine {
    display: table-row;
}

.formElements > div.formLine * {
    display: table-cell;
    padding: 5px;
}

.formElements > div.formLine *:first-child {
    text-align: right;
    padding-right: 10px;

    width: 200px;
}
form.registForm > div.btnLine {

    width:100%;
    text-align: center;
}
form.registForm input[type=text],form.registForm input[type=password] {
    width:  350px;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}
.menu {
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0 0 15px 15px;
    padding: 10px;
    font-size: 24px;
}

.menu a {
    text-decoration: none;
    color: white;
}
.menu a:hover {
    color: green;
    font-weight: bold;
}

.menu ul {
    margin: 0;
    text-align: center;
}

.menu li {
    display: inline-block;
    list-style: none;
}

.menu li:first-child:before {
    margin-right: 0;
    content: '' !important;
}

.menu li:before {
    margin-right: 5px;
    content: '|';
}

.menu li:after {
    margin-left: 5px;
}

.logo {
    background: url('../img/whsUndEmLogo.png') center center;
    height: 155px;
    width: 799px;
    background-size: 100%;
    margin: 10px auto;
}

.content, .loginLine {
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.content {
    padding: 10px 10px 65px 10px;
}

.loginLine {
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
}

.loggedLine {
    text-align: right;
    font-size: 12px;
    color: gainsboro;

}
.loginLine a {
    color: orangered;
}

#fullScreen {
    position: absolute;
    left: 0;
    width: 100%;
    margin: 0 auto;
}

#links {
    float: left;
    margin-left: 10%;
}

#rechts {
    float: right;
    margin-right: 10%;
}

#midd {
    margin: 0 11.6%;
    min-width: 600px;
    text-align: center;
}

div.footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    visibility: visible;
    z-index: 200;
    width: 100%;
    background-color: green;
    border-top: 3px #FFF dotted;
}

.headerguidelines {
    text-align: center;
}

.guidelines, .rankingTable, .gamesTable, .posTibbTable, .NoneHoverTable {
    margin: 0 auto;
    width: 800px;
    font-size: 18px;
}

.rankingTable thead th, .NoneHoverTable thead th {
    text-align: center;
}
.rankingTable tbody tr td:nth-last-child(1) {
    text-align: center;
}
.rankingTable tbody tr td:nth-last-child(2) {
    text-align: right;
}
.rankingTable tbody tr td:nth-last-child(3) {
    text-align: left;
}
.rankingTable tbody tr td:nth-last-child(4) {
    text-align: center;
}

.NoneHoverTable thead th {
    text-align: center;
}
.NoneHoverTable tbody tr td {
    text-align: center;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}

.gamesTable tr td:nth-child(1) {
    width: 100px;
}
.gamesTable tr td:nth-child(2) {
    width: 120px;
}
.gamesTable tr td:nth-child(3) {
    width: 200px;
    text-align: center;
}
.gamesTable tr td:nth-child(4) {
    width: 150px;
}
.gamesTable tr td:nth-child(5) {
    width: 150px;
}
.gamesTable tr td:nth-child(6) {
    width: 80px;
}

.posTibbTable tbody tr td:nth-child(6) {
    background-color: #f4f0f1;
}

.posTibbTable tbody tr td:nth-child(6) a {
    text-decoration: none;
}

.tippTable {
    margin: 0 auto;
    width: 900px;
    font-size: 18px;
}

.tippTable tbody td{
    text-align: center;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

.tippTable tr td:nth-child(1) {
    width: 400px;
}
.tippTable tr td:nth-child(2) {
    width: 200px;
}

.tippTable tbody tr:hover {
    background-color: #f4f0f1;
    color: black;
}

.guidelines th, .rankingTable th, .gamesTable th {
    text-align: left;
}

.guidelines tbody td, .rankingTable tbody td, .gamesTable tbody td, .posTibbTable tbody td {
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

.rankingTable tbody tr:hover, .gamesTable tbody tr:hover, .posTibbTable tr:hover {
    background-color: #f4f0f1;
    color: black;
}

.gamesTable th {
    text-align: center;
}

.guidelines td:first-child {
     width: 100%;
 }

.guidelines td:last-child {
    width: 50px;
    text-align: center;
}

.guidelines tbody tr:hover {
    background-color: #f4f0f1;
    color: black;
}

.dashbordP {
    font-size: 18px;
    margin: 0px 20px 0px 50px;
}

.h3Games {
    margin-left: 50px;
}

.h2Dashboard {
    text-align: center;
}

.flags {
    width: 16px;
    height: 16px;
}

.dashboardCurrentGamesDiv {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #f4f0f1;
    width: 500px;
    margin: 0px auto;
    padding: 15px 10px 15px 10px;
    color: black;
    font-size: 18px;
    margin-bottom: 15px;
}

.dashboardCurrentGamesDiv table {
    width: 100%;
    text-align: center;
}




form.tipinputForm {
    display: table;
    margin: 0 auto;
    width: 600px;
    border-spacing: 5px;
}


form.tipinputForm > div.btnLine {

    width:100%;
    text-align: center;
}

.preziDiv {
    margin: 50px auto;
    width: 800px;
    font-size: 18px;
}